<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="mt-8">
    <h1 class="text-2xl font-bold mb-6"><%= @patient.name %>: <%= @answered_at %></h1>

    <table class="min-w-full divide-y divide-gray-200 text-white">
      <thead>
        <tr>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-white-500 uppercase tracking-wider">
            Field Key
          </th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-white-500 uppercase tracking-wider">
            Field Type
          </th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-white-500 uppercase tracking-wider">
            Record ID
          </th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-white-500 uppercase tracking-wider">
            Answer
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <% @questions.each do |question| %>
          <tr>
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
              <%= question.field_key %>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              <%= question.field_type %>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              <%= question.record_id %>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              <% answer = question.answers.find { |a| a.question_id == question.id && a.patient_id == params[:id].to_i } %>
              <% if answer %>
                <% case question.field_type %>
                <% when 'text' %>
                  <%= answer.text_value %>
                <% when 'number' %>
                  <%= answer.numerical_value %>
                <% when 'dropdown', 'checkbox' %>
                  <% option = question.question_options.where(field_value: answer.option_id.to_s).first %>
                  <%= option ? option.content : 'null' %>
                <% end %>
              <% else %>
                -
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
