<!DOCTYPE html>
<html>
  <head>
    <title>IntakecareDashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://unpkg.com/@hotwired/stimulus@2.0.0/dist/stimulus.umd.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('logo.svg') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
